@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	background: #F9F5F1;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 300%;
}


#content{
	float: right;
	align-items: right;
	justify-content: right;
	text-align: right;
	padding: 50px;
	color: #454545;
}

a:link {
	color: #0077aa;
}

a:visited{
	color: #B55C87;
}