@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* HTML Tags */

body {
	text-align: right;
	background: #F9F5F1;
	color: #454545;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 300%;
}

h4 {
	color: #6F6F6F;
}

/* IDs and Classes */

#content {
	position: relative;
	float: right;
	padding: 50px;
}

a:link {
	color: #0077aa;
}

a:visited{
	color: #B55C87;
}

/* Animation in Index site */

span{
	color: #FF6666;
}

span::before{
	animation: animate infinite 5s;
	content: "Content Creator";
}

@keyframes animate{
	1%{
		content: "Content Creator";
	}
	20%{
		content: "Hardware Engineer";
	}
	40%{
		content: "Music Producer";
	}
	60%{
		content: "Video Editor"
	}
	80%{
		content: "Dataminer";
	}
	100%{
		content: "Writer";
	}
}