@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* HTML Tags */

body {
	text-align: right;
	background: #F9F5F1;
	color: #454545;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 300%;
}

h4 {
	color: #6F6F6F;
}

/* IDs and Classes */

#content {
	position: relative;
	float: right;
	padding: 50px;
}

a:link {
	color: #0077aa;
}

a:visited{
	color: #B55C87;
}