@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	background: #F9F5F1;
	font-family: 'Roboto Slab', serif;
}

div {
	display: block;
}

h1 {
	font-size: 300%;
}

#contContact{
	float: right;
	align-items: right;
	justify-content: right;
	padding: 50px;
	text-align: right;
}